@model IEnumerable<User>
<div>
        @if (Model == null)
        {
            <p>No such user!</p>
        }
        else if (Model.Count() == 0)
        {
            <p>No user in the database!</p>

        }
        else
        {
            <p>There are users!</p>
        }
</div>