@model User
@{
    ViewBag.Title = "Log in";
}

<h1>Welcome to the app!</h1>
<div>
   <h3>Log in</h3>
   <form action="" method="post">
       <label asp-for="Username">Username</label>
       <input asp-for="Username" placeholder="Enter username" required/><br/>
       <label asp-for="Password">Password</label>
       <input type="password" asp-for="Password" placeholder="Enter password" required/><br />
       <input type="submit" value="Log in" />
   </form>
    <hr />
    <p>New user? <a asp-action="Signup">Sign up</a></p>
</div>